h2{
    margin-top:80px;
    margin-left:520px;
}
h1{
    letter-spacing: 10px;
    font-family:papyrus;
    text-align:center;
    position: relative;
}
body{
    background-image: url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?cs=srgb&dl=pexels-madison-inouye-1831234.jpg&fm=jpg);
}

input[type = "textarea"]
{
    color:red;
}
h1:hover{
    color:blue;
}
button{
    color:blueviolet;
}
button:hover{
    background-color:greenyellow;
}
h2::first-letter{
    font-size: 50px;
}
.cod{
      margin-top: 80px;
      margin-left: 650px;
}
.mod{
    -webkit-appearance: none;
    border-radius: 15px;
    background-color: aqua;
    display:flex;
    position:relative;
    padding:10px 10px 5px 5px;
    outline:none;
    width:19%;
}
